__pycache__/
*.pyc
.pytest_cache/

.ipynb_checkpoints/

Data/

outputs/*
!outputs/population_relaxation/
!outputs/population_relaxation/**
!outputs/pop_relax_50km/
!outputs/pop_relax_50km/**
!outputs/movement_criticality/
!outputs/movement_criticality/**

output/
output_*/
output_smoke*/
